<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>I Am Poor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63D96B7F1D6DE4AE004CD752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63DE37961D6DD3EF000AB4B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63F0304C1D71939300F171BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
